@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-lazy-load-image-component/src/effects/blur.css';
@import 'simplebar-react/dist/simplebar.min.css';
@import '@vime/core/themes/default.css';

html {
  @apply overflow-y-scroll;
}

.customBorder {
  @apply border-[#ccc];
}

.boxShadow {
  box-shadow: inset 0 1px 2px #eee
}

// ::-webkit-scrollbar {
//   visibility: hidden;
//   display: none;
// }

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.middot:after {
  content: '•';
  @apply flex mx-1 text-[10px] opacity-50;
}

html, body{
    height: 100%;
    position: relative;
    overflow: hidden;
}

body{
  background-color: #fff;
  font-family: "Roboto","Arial",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0f0f0f;
}

.dark {
  body {
    background-color: #0f0f0f;
    color: #fff;
  }
}

* {
	scrollbar-width: thin;
	scrollbar-color: #616161;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.text-secondary {
  @apply text-gray-700 dark:text-gray-300;
}

.bg-primary {
  @apply dark:bg-[#0f0f0f] bg-white;
}

.bg-secondary {
  @apply dark:bg-[#1b1b1b] bg-gray-100;
}

.hover-primary {
  @apply dark:hover:bg-[#fff]/[0.1] hover:bg-gray-200;
}

.active-primary {
  @apply dark:bg-[#fff]/[0.1] bg-gray-100;
}

.text-primary {
  @apply dark:text-gray-400 text-gray-600;
}

.text-primary-hover{
  @apply dark:hover:text-[#fff] hover:text-gray-900;
}

.light-button {
  @apply dark:bg-[#1b1b1b] bg-gray-100 dark:hover:bg-[#fff]/[0.1] hover:bg-gray-200;
}

.dark-button {
  @apply bg-[#1b1b1b] dark:bg-gray-100 hover:bg-[#fff]/[0.1] dark:hover:bg-gray-200;
}

.dark-button-text {
  @apply dark:text-gray-800 text-white;
}


.dropdown-shadow{
  box-shadow: 0px 4px 32px 0px rgba(0,0,0,0.1);
  backdrop-filter: blur(8px);
}

.gradientLink {
  @apply text-pink-600 dark:text-pink-400 hover:text-brand-600 dark:hover:text-brand-400 transition;
}

.header-glassy {
  @apply dark:bg-[#0f0f0f]/80 bg-white bg-opacity-80 bg-clip-padding backdrop-blur-xl backdrop-filter;
}

.header {
  @apply last:dark:bg-[#121214] bg-white
}

.primary-button {
  @apply bg-gradient-to-r from-brand-700 to-pink-600 hover:from-brand-600 hover:to-brand-600 dark:from-pink-500 dark:to-brand-500 dark:hover:from-brand-600 dark:hover:to-brand-600 text-white;
}

vm-player {
  --vm-player-font-family: 'Roboto', sans-serif !important;
  --vm-player-border-radius: 0 !important;
  --vm-settings-border-radius: 10px !important;
  --vm-menu-bg: rgba(0, 0, 0, 0.40) !important;
  --vm-settings-padding: 0 !important;
  --vm-menu-item-focus-bg: rgba(90, 90, 90, 0.95) !important;
  --vm-controls-bg: rgba(0, 0, 0, 0) !important;
  --vm-slider-value-color: #db2777 !important;
  // --vm-scrim-bg: rgba(0, 0, 0, 0) !important;
}
vm-player video {
  @apply flex-1 h-auto w-auto rounded-none aspect-[16/9];
}
vm-player video.sc-vm-file {
  @apply border-inherit align-middle  w-full outline-none;
}